{% extends 'base.html' %}

{% block title %}
Booking
{% endblock title %}




{% block body %}



<!-- 
{% load static %}
<img src="{% static '1.jpg' %}" alt="My image" class="img-thumbnail"> -->


{% endblock body %}

<!-- 
<tr>
    <ul>12-1</ul>
    <ul>1-2</ul>
    <ul>2-3</ul>
    <ul>3-4</ul>
    <ul>4-5</ul>
    <ul>5-6</ul>
    <ul>6-7</ul>
    <ul>7-8</ul>
    <ul>8-9</ul>
    <ul>9-10</ul>
    <ul>10-11</ul>
    <ul>11-12</ul>
    <ul>12-13</ul>
    <ul>13-14</ul>
    <ul>14-15</ul>
    <ul>16-17</ul>
    <ul>17-18</ul>
    <ul>19-20</ul>
    <ul>20-21</ul>
    <ul>22-23</ul>
    <ul>23-24</ul>
</tr> -->